* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.4;
  color: #333;
  background-color: #f5f5f5;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  /* background-color: white; */
  padding: 30px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.submit-btn {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #555;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.table caption {
  font-weight: bold;
  margin-bottom: 1rem;
}

.table-row th,
.table-row td {
  padding: 1rem;
  text-align: center;
  border: 1px solid #333;
}

.table-head {
  background-color: #333;
  color: white;
}
.table {
  border: 1px solid #333;
}
